/* Sticky footer styles */
html, body {
	
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	padding-top: 50px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
	background:url("../image/common/bg00.jpg") no-repeat center top;display:block  
}

.navbar {
	min-height:80px !important;
}

.navbar-nav{
	padding-top: 20px;
}

.logo {
	width: 211px;
	height: 50px;
}

tr > td {
	vertical-align: inherit !important; 
}

th.dt-center, td.dt-center {
	vertical-align: middle;
	text-align: center; 
}

/* Wrapper for page content to push down footer */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#footer {
	height:50px;
    padding-top: 20px;
	text-align: center;
	background:url("../image/common/bg00.jpg") no-repeat center top;display:block
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {

}

/* Custom page CSS */

label[disabled]{
  pointer-events:none;
}

.gold {
    color: #C5B358;
}

.silver {
    color: 	#C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.width-80 {
    width: 80px !important;
}

.width-100 {
    width: 100px !important;
}

#modal-detail {
  overflow: auto;
}
#modal-logs {
  overflow: auto;
}


.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-gold {
  background-color: #C5B358;
}
.badge-gold:hover {
  background-color: #B5B358;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}